@{
    ViewBag.Title = "Portfolio of Koltsova Svetlana | Front End Developer";
}

@section Styles {
    <link href="@Url.Content("~/Content/sections/portfolio.css?v=1.0")" rel="stylesheet" type="text/css" />
}

<div class="container content">
    <div class="titlePage">
        <h2>Portfolio</h2>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site1.jpg" alt="Muggie Ramadani" title="Muggie Ramadani" />
            <div>
                <h2>Muggie Ramadani</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>muggieramadani.com</a></h3>
                <h4>Animation, Graphics</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site2.jpg" alt="Hard Graft" title="Hard Graft" />
            <div>
                <h2>Hard Graft</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>hardgraft.com</a></h3>
                <h4>Design, Music</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site3.jpg" alt="NASA GeneLab" title="NASA GeneLab" />
            <div>
                <h2>NASA GeneLab</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>genelab.nasa.gov</a></h3>
                <h4>Web, Design</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site4.jpg" alt="Studio Lin" title="Studio Lin" />
            <div>
                <h2>Studio Lin</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>studiolin.com</a></h3>
                <h4>Branding, Illustrator, Print</h4>
            </div>
        </div>
    </div><!-- end .row -->
    <div class="row hidden-xs">
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site5.jpg" alt="Rally Interactive" title="Rally Interactive" />
            <div>
                <h2>Rally Interactive</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>rallyinteractive.com</a></h3>
                <h4>Fashion, Illustrator</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site6.jpg" alt="SO Creative Studio" title="SO Creative Studio" />
            <div>
                <h2>SO Creative Studio</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>socreative.co.uk</a></h3>
                <h4>Web, Design</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site7.jpg" alt="Éléphant" title="Éléphant" />
            <div>
                <h2>Éléphant</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>resto-elephant.com</a></h3>
                <h4>Branding, Graphic Design</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site8.jpg" alt="Zazn Meditation App" title="Zazn Meditation App" />
            <div>
                <h2>Zazn Meditation App</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>zaznmeditation.com</a></h3>
                <h4>Web, Design</h4>
            </div>
        </div>
    </div><!-- end .row -->
    <div class="row hidden-xs hidden-sm">
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site1.jpg" alt="Muggie Ramadani" title="Muggie Ramadani" />
            <div>
                <h2>Muggie Ramadani</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>muggieramadani.com</a></h3>
                <h4>Animation, Graphics</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site2.jpg" alt="Hard Graft" title="Hard Graft" />
            <div>
                <h2>Hard Graft</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>hardgraft.com</a></h3>
                <h4>Design, Music</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site3.jpg" alt="NASA GeneLab" title="NASA GeneLab" />
            <div>
                <h2>NASA GeneLab</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>genelab.nasa.gov</a></h3>
                <h4>Web, Design</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site4.jpg" alt="Studio Lin" title="Studio Lin" />
            <div>
                <h2>Studio Lin</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>studiolin.com</a></h3>
                <h4>Branding, Illustrator, Print</h4>
            </div>
        </div>
    </div><!-- end .row -->
    <div class="row hidden-xs hidden-sm">
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site5.jpg" alt="Rally Interactive" title="Rally Interactive" />
            <div>
                <h2>Rally Interactive</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>rallyinteractive.com</a></h3>
                <h4>Fashion, Illustrator</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site6.jpg" alt="SO Creative Studio" title="SO Creative Studio" />
            <div>
                <h2>SO Creative Studio</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>socreative.co.uk</a></h3>
                <h4>Web, Design</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site7.jpg" alt="Éléphant" title="Éléphant" />
            <div>
                <h2>Éléphant</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>resto-elephant.com</a></h3>
                <h4>Branding, Graphic Design</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 siteInfo">
            <img src="~/Content/img/site8.jpg" alt="Zazn Meditation App" title="Zazn Meditation App" />
            <div>
                <h2>Zazn Meditation App</h2>
                <h3><a href='@Url.Action("Preview", "Home")'>zaznmeditation.com</a></h3>
                <h4>Web, Design</h4>
            </div>
        </div>
    </div><!-- end .row -->
</div><!-- end .content -->

@section Scripts {
    <script>
        document.querySelector("header ul li:nth-child(2) a").className = "activeLink";
    </script>
    <script>
        $("img").click(function () {
            var link = $(this).closest('div').find("a");
            window.location.href = link[0].href;
        })
    </script>
}