@{
    ViewBag.Title = "Portfolio of Koltsova Svetlana | Front End Developer";
}

@section Styles {
    <link href="@Url.Content("~/Content/sections/preview.css?v=1.0")" rel="stylesheet" type="text/css" />
}

<div class="container content">
    <div class="titlePage">
        <h2>Preview</h2>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="" id="prev" class="prev">&#8592; PREVIOUS <span class="hidden-xs">PROJECT</span></a>
            <a href="" id="next" class="next">NEXT <span class="hidden-xs">PROJECT </span>&#8594;</a>
        </div>
    </div>
    <div class="wrapSlider">
        <ul id="slider" class="slider">
            <li>
                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        <img src="~/Content/img/preview_img1.jpg" alt="preview img1" />
                        <img src="~/Content/img/preview_img2.jpg" alt="preview img2" />
                        <img src="~/Content/img/preview_img3.jpg" alt="preview img3" />
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <h2 class="nameSite">Studio Lin 1</h2>
                        <p><span>Skills:</span> Branding, Illustration, Print</p>
                        <p><span>Date:</span> January 2012</p>
                        <p><span>Client:</span> Envato</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod
                            semper. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna
                            mollis ornare vel eu leo. Aenean eu leo quam.
                        </p>
                        <p><a href='@Url.Action("Preview", "Home")'>septemberindustry.co.uk</a></p>
                    </div>
                </div><!-- end .row -->
            </li>
            <li>
                <div class="row">
                    <div class="col-md-8 col-xs-12 siteInfo">
                        <img src="~/Content/img/preview_img1.jpg" alt="preview img1" />
                        <img src="~/Content/img/preview_img2.jpg" alt="preview img2" />
                        <img src="~/Content/img/preview_img3.jpg" alt="preview img3" />
                    </div>
                    <div class="col-md-4 col-xs-12 siteInfo">
                        <h2 class="nameSite">Studio Lin 2</h2>
                        <p><span>Skills:</span> Branding, Illustration, Print</p>
                        <p><span>Date:</span> January 2012</p>
                        <p><span>Client:</span> Envato</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod
                            semper. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna
                            mollis ornare vel eu leo. Aenean eu leo quam.
                        </p>
                        <p><a href='@Url.Action("Preview", "Home")'>septemberindustry.co.uk</a></p>

                    </div>
                </div><!-- end .row -->
            </li>
            <li>
                <div class="row">
                    <div class="col-md-8 col-xs-12 siteInfo">
                        <img src="~/Content/img/preview_img1.jpg" alt="preview img1" />
                        <img src="~/Content/img/preview_img2.jpg" alt="preview img2" />
                        <img src="~/Content/img/preview_img3.jpg" alt="preview img3" />
                    </div>
                    <div class="col-md-4 col-xs-12 siteInfo">
                        <h2 class="nameSite">Studio Lin 3</h2>
                        <p><span>Skills:</span> Branding, Illustration, Print</p>
                        <p><span>Date:</span> January 2012</p>
                        <p><span>Client:</span> Envato</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod
                            semper. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna
                            mollis ornare vel eu leo. Aenean eu leo quam.
                        </p>
                        <p><a href='@Url.Action("Preview", "Home")'>septemberindustry.co.uk</a></p>
                    </div>
                </div><!-- end .row -->
            </li>
            <li>
                <div class="row">
                    <div class="col-md-8 col-xs-12 siteInfo">
                        <img src="~/Content/img/preview_img1.jpg" alt="preview img1" />
                        <img src="~/Content/img/preview_img2.jpg" alt="preview img2" />
                        <img src="~/Content/img/preview_img3.jpg" alt="preview img3" />
                    </div>
                    <div class="col-md-4 col-xs-12 siteInfo">
                        <h2 class="nameSite">Studio Lin 4</h2>
                        <p><span>Skills:</span> Branding, Illustration, Print</p>
                        <p><span>Date:</span> January 2012</p>
                        <p><span>Client:</span> Envato</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod
                            semper. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna
                            mollis ornare vel eu leo. Aenean eu leo quam.
                        </p>
                        <p><a href='@Url.Action("Preview", "Home")'>septemberindustry.co.uk</a></p>
                    </div>
                </div><!-- end .row -->
            </li>
            <li>
                <div class="row">
                    <div class="col-md-8 col-xs-12 siteInfo">
                        <img src="~/Content/img/preview_img1.jpg" alt="preview img1" />
                        <img src="~/Content/img/preview_img2.jpg" alt="preview img2" />
                        <img src="~/Content/img/preview_img3.jpg" alt="preview img3" />
                    </div>
                    <div class="col-md-4 col-xs-12 siteInfo">
                        <h2 class="nameSite">Studio Lin 5</h2>
                        <p><span>Skills:</span> Branding, Illustration, Print</p>
                        <p><span>Date:</span> January 2012</p>
                        <p><span>Client:</span> Envato</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod
                            semper. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna
                            mollis ornare vel eu leo. Aenean eu leo quam.
                        </p>
                        <p><a href='@Url.Action("Preview", "Home")'>septemberindustry.co.uk</a></p>
                    </div>
                </div><!-- end .row -->
            </li>
        </ul>
    </div>
</div><!-- end .content -->

@section Scripts {
    <script src="@Url.Content("~/Scripts/Js/slider.js")"></script>
}